@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$primary: #07689f;
$secondary: #a2d5f2;
$tertiary: #fafafa;
$accent: #ff7e67;

@mixin fit {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body {
  background-color: $tertiary;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.header {
  background: rgb(7, 104, 159);
  background: radial-gradient(circle, rgba(7, 104, 159, 1) 37%, rgba(79, 139, 173, 1) 100%);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $tertiary;
    font-size: 3rem;
    letter-spacing: 1px;
  }
}
.main {
  position: relative;
  .modal {
    display: none;
    transition: all 0.5s ease;
    position: relative;
    padding: 3rem;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    i {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      padding: 10px;
    }
  }
  .modal.visible {
    display: flex;
    animation: modalOpen 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.27) 1;
  }
  .search {
    display: flex;
    justify-content: center;
    &-form {
      margin: 2rem;
      display: flex;
      align-items: center;
      flex-flow: column wrap;
      width: 100%;
      label {
        padding: 1rem;
      }
      .input-group {
        display: flex;
        input {
          text-align: center;
          padding: 1rem 2rem;
          border-radius: 30px 0 0 30px;
          width: 20rem;
          border: 2px solid $accent;
          outline: none;
          transition: all 0.5s ease;
          caret-color: $tertiary;
          &:focus {
            border: 2px solid transparent;
            background-color: #f56d91;
          }
          &::placeholder {
            color: $primary;
          }
        }
        button {
          cursor: pointer;
          padding: 1rem 2rem;
          margin: 0;
          border: 2px solid $accent;
          border-left: none;
          border-radius: 0 30px 30px 0;
          background-color: transparent;
          transition: all 0.5s ease;
          &:hover {
            background-color: #f56d91;
          }
        }
      }
    }
  }
  .countries-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    .country {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      display: grid;
      background-color: $secondary;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: 250px 150px;
      grid-template-areas:
        'flag flag flag name name name coa coa coa '
        '. geo geo geo . all all all all';
      // grid-template-areas:
      //   'flag flag name name name coa coa'
      //   'flag flag geo  all coa coa';
      margin: 1rem;
      width: 70%;
      border-radius: 30px;
      .flag-wrapper {
        grid-area: flag;
        @include fit;
        img {
          max-width: 80%;
          max-height: 80%;
        }
      }
      .country-name {
        @include fit;
        flex-flow: column wrap;
        grid-area: name;
      }
      .coa {
        @include fit;
        grid-area: coa;

        img {
          max-width: 80%;
          max-height: 80%;
        }
      }
      #geo {
        grid-area: geo;
        text-align: end;
      }
      #all {
        grid-area: all;
        text-align: left;
      }
    }
  }
}
.footer {
  margin-top: auto;
}

@keyframes modalOpen {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 120%;
  }
}
