@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

.header {
  background: rgb(7, 104, 159);
  background: radial-gradient(circle, rgb(7, 104, 159) 37%, rgb(79, 139, 173) 100%);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}
.header h1 {
  color: #fafafa;
  font-size: 3rem;
  letter-spacing: 1px;
}

.main {
  width: 100%;
  position: relative;
}
.main .modal {
  text-align: center;
  display: none;
  transition: all 0.5s ease;
  position: relative;
  padding: 3rem;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.main .modal i {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 10px;
}
.main .modal.visible {
  display: flex;
  -webkit-animation: modalOpen 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.27) 1;
          animation: modalOpen 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.27) 1;
}
.main .search {
  display: flex;
  justify-content: center;
}
.main .search-form {
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
}
.main .search-form label {
  padding: 1rem;
  text-align: center;
}
.main .search-form .input-group {
  display: flex;
  justify-content: center;
}
.main .search-form .input-group input {
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 30px 0 0 30px;
  width: 20rem;
  border: 2px solid #ff7e67;
  outline: none;
  transition: all 0.5s ease;
  caret-color: #fafafa;
}
.main .search-form .input-group input:focus {
  border: 2px solid transparent;
  background-color: #f56d91;
}
.main .search-form .input-group input::-moz-placeholder {
  color: #07689f;
}
.main .search-form .input-group input:-ms-input-placeholder {
  color: #07689f;
}
.main .search-form .input-group input::placeholder {
  color: #07689f;
}
.main .search-form .input-group button {
  cursor: pointer;
  padding: 1rem 2rem;
  margin: 0;
  border: 2px solid #ff7e67;
  border-left: none;
  border-radius: 0 30px 30px 0;
  background-color: transparent;
  transition: all 0.5s ease;
}
.main .search-form .input-group button:hover {
  background-color: #f56d91;
}
.main .countries-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.main .countries-wrapper .country {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: grid;
  background-color: #a2d5f2;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 250px 150px;
  grid-template-areas: "flag flag flag name name name coa coa coa " ". geo geo geo . all all all all";
  margin: 1rem;
  width: 70%;
  border-radius: 30px;
}
.main .countries-wrapper .country .flag-wrapper {
  grid-area: flag;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .countries-wrapper .country .flag-wrapper img {
  max-width: 80%;
  max-height: 80%;
}
.main .countries-wrapper .country .country-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  grid-area: name;
  text-align: center;
}
.main .countries-wrapper .country .coa {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: coa;
  max-width: 70%;
  justify-self: center;
}
.main .countries-wrapper .country .coa img {
  max-width: 80%;
  max-height: 80%;
}
.main .countries-wrapper .country #geo {
  grid-area: geo;
  text-align: end;
}
.main .countries-wrapper .country #all {
  grid-area: all;
  text-align: left;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #07689f;
  padding: 10px 0;
  color: #fafafa;
}
.footer a {
  color: #a2d5f2;
  text-decoration: none;
}

@-webkit-keyframes modalOpen {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 120%;
  }
}

@keyframes modalOpen {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 120%;
  }
}
@media only screen and (max-width: 750px) {
  .main .search .search-form {
    margin: 0.5rem;
  }
  .main .search .search-form .input-group input {
    width: 60%;
  }
  .main .search .search-form .input-group button {
    padding: 0.1rem 1rem;
  }
  .main .countries-wrapper .country {
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: grid;
    background-color: #a2d5f2;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    grid-template-rows: 120px repeat(2, auto);
    grid-template-areas: "flag name coa " "geo geo geo" "all all all";
  }
  .main .countries-wrapper .country .coa {
    justify-self: center;
  }
  .main .countries-wrapper .country #geo,
.main .countries-wrapper .country #all {
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  .main .countries-wrapper .country {
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: grid;
    background-color: #a2d5f2;
    grid-template-columns: 1fr;
    justify-self: center;
    grid-template-rows: 120px repeat(2, auto);
    grid-template-areas: "flag" "name" "geo" "all" "coa";
  }
  .main .countries-wrapper .country .country-name {
    padding: 15px 5px;
  }
  .main .countries-wrapper .country .country-name h3 {
    padding-bottom: 5px;
  }
  .main .countries-wrapper .country .flag-wrapper {
    margin-top: 10px;
  }
  .main .countries-wrapper .country .coa {
    justify-self: center;
  }
  .main .countries-wrapper .country #geo,
.main .countries-wrapper .country #all {
    font-size: 14px;
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */