@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$primary: #07689f;
$secondary: #a2d5f2;
$tertiary: #fafafa;
$accent: #ff7e67;

@mixin fit {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body {
  background-color: $tertiary;
}

.header {
  background: rgb(7, 104, 159);
  background: radial-gradient(circle, rgba(7, 104, 159, 1) 37%, rgba(79, 139, 173, 1) 100%);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $tertiary;
    font-size: 3rem;
    letter-spacing: 1px;
  }
}
.main {
  .search {
    display: flex;
    justify-content: center;
    &-form {
      margin: 2rem;
      display: flex;
      align-items: center;
      flex-flow: column wrap;
      width: 100%;
      label {
        padding: 1rem;
      }
      input {
        text-align: center;
        padding: 1rem 2rem;
        border-radius: 30px;
        width: 30%;
        border: 2px solid $accent;
        outline: none;
        transition: all 0.5s ease;
        caret-color: $tertiary;
        &:focus {
          border: 2px solid transparent;
          background-color: #f56d91;
        }
        &::placeholder {
          color: $primary;
        }
      }
    }
  }
  .countries-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    .country {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      display: grid;
      background-color: $secondary;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: 250px 150px;
      grid-template-areas:
        'flag flag flag name name name coa coa coa '
        '. geo geo geo . all all all all';
      // grid-template-areas:
      //   'flag flag name name name coa coa'
      //   'flag flag geo  all coa coa';
      margin: 1rem;
      width: 70%;
      border-radius: 30px;
      .flag-wrapper {
        grid-area: flag;
        @include fit;
        img {
          width: 80%;
        }
      }
      .country-name {
        @include fit;
        flex-flow: column wrap;
        grid-area: name;
      }
      .coa {
        @include fit;
        grid-area: coa;

        img {
          width: 40%;
          object-fit: cover;
        }
      }
      #geo {
        grid-area: geo;
        text-align: end;
      }
      #all {
        grid-area: all;
        text-align: left;
      }
    }
  }
}
